In [2]:
%pip install duckdb

Collecting duckdb
  Using cached duckdb-1.1.2-cp312-cp312-win_amd64.whl.metadata (781 bytes)
Using cached duckdb-1.1.2-cp312-cp312-win_amd64.whl (11.0 MB)
Installing collected packages: duckdb
Successfully installed duckdb-1.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [28]:
DB_PATH = "../formatted_zone/formatted.db"

In [29]:
import duckdb

with duckdb.connect(DB_PATH) as con:
    for file in persistent:
        con.sql("CREATE TABLE IF NOT EXISTS idealista AS FROM read_json(['../formatted_zone/2020_idealista.json', '../formatted_zone/2021_idealista.json']);")

In [30]:
# Example to show the tables can be joined
with duckdb.connect(DB_PATH) as con:
    response = con.sql("SELECT * FROM rent r, idealista i WHERE r.neighborhood_id == i.neighborhood_id")
    print(response)

CatalogException: Catalog Error: Table with name rent does not exist!
Did you mean "pg_enum"?